.title {
  composes: heading1 from './../../stylesheet/basicStyles.css';
  text-align: center;
  margin: 0 0 20px;
}

.paragraph {
  composes: paragraph from './../../stylesheet/basicStyles.css';
  text-align: center;
  margin: 0 0 28px;
}

.registration {
  composes: paragraph from './../../stylesheet/basicStyles.css';
  color: #212529;
  display: block;
  max-width: 468px;
  margin: 0 auto;
}

/* Input - Enabled */
.input {
  line-height: normal;
  width: 100%;
  color: #404040;
  border: 1px solid #b2b9c0;
  padding: 8px 12px;
  border-radius: 4px;
  outline: none;
}

.input::placeholder {
  color: #b2b9c0;
}

/* Input - Active */
.input:focus {
  border-color: rgb(128, 189, 255);
  box-shadow: 0px 0px 2px 2px rgba(128, 189, 255, 0.5);
}

/* Input - Error - Enabled */
.inputError:placeholder-shown {
  border-color: rgb(219, 52, 69);
  box-shadow: none;
}

/* Input - Error - Filled - Enabled, Input - Error - Active */
.inputError,
.inputError:focus {
  border-color: rgb(219, 52, 69);
  box-shadow: 0px 0px 2px 2px rgba(219, 52, 69, 0.5);
}

.assistive {
  color: #212529;
  font-size: 12px;
  position: absolute;
  top: 100%;
}

.error {
  composes: assistive;
  color: #f44336;
}

.inputContainer {
  margin-bottom: 26px;
  position: relative;
}

.inputFileContainer {
  margin-bottom: 40px;
  position: relative;
}

/* custom radio-button styles */

/* The container */
.checkContainer {
  display: block;
  position: relative;
  padding-left: 26px;
  margin-bottom: 14px;
  cursor: pointer;
  user-select: none;
}

/* Hide the browser's default radio button */
.checkContainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 13px;
  left: 13px;
  transform: translate(-50%, -50%);
  height: 16px;
  width: 16px;
  border-radius: 50%;
  border: 1px solid #adb5bd;
}

/* When the radio button is checked, change checkmark */
.checkContainer input:checked ~ .checkmark {
  border: 4px solid #007bff;
}
